<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>CRUD-Word Cloud</title>
    <meta name="description" content="The Vue.js Word Cloud with D3">
    <meta name="author" content="Darky">

    <link href="css/normalize.css" rel="stylesheet">
    <!-- If you planned to use this, please remove normalize.css because it is included in it - 04/07/2020 Darky 
        <link rel="stylesheet" href="css/materialize.css"> -->
    <!-- <link href="css/styles.css?v=1.0" rel="stylesheet"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <!-- Word List -->
        <!-- "v-on:" shorthand is "@" or ":" -->
        <ul 
            @dragover.prevent 
            @drop.prevent="dropWord"
        >
            <li 
                v-for="(word,index) in list" 
                draggable="true"
            >
                <!-- v.model.lazy will update only when onChange -->
                <input 
                    v-model.lazy="word.text" 
                    @change="updateWordCloud()" 
                    type="text" 
                />
                {{ ' with weight of ' + word.weight }}
                <button 
                    v-on:click="deleteWord(index)"
                >
                    Remove
                </button>
            </li>
        </ul>
        <!-- Word Submit -->
        <form 
            v-on:submit.prevent="addNewWord"
        >
            <input 
                v-model="word.text" 
                placeholder="Insert word" 
            />
            <!-- all v-model should be move to the first one -->
            <input 
                type="number" 
                v-model.number="word.weight" 
                placeholder="Insert weight" 
            />
            <button>Add</button>
        </form>
        <!-- Word List Text Area for debug for dev -->
        <textarea style="display:none;height:200px;width:400px;">{{ list }}</textarea>
        <!-- Word Cloud -->
        <div id="wordCloud"></div>

        <div id="settings" style="position: absolute;right: 0;top: 0;">
            <!--Word Cloud Settings-->
            <form 
                v-on:submit.prevent="setSettings"
            >
                <h3>Settings</h3>
                <i class="material-icons-outlined">settings</i>
                <div>
                    <label for="width">Width:</label>
                    <input
                        name="width"
                        type="number"
                        v-model.lazy="settings.width"  
                    />
                </div>
                <div>
                    <label for="height">Height:</label>
                    <input 
                        name="height"
                        type="number"
                        v-model.lazy="settings.height"
                    />
                </div>
                <div>
                    <span>Spectrum: Preset</span>
                    <br>
                    <input id="spectrum1" name="spectrum1" type="color" />
                    <label for="spectrum1">Spectrum 1</label>
                    <input id="spectrum2" name="spectrum2" type="color" />
                    <label for="spectrum2">Spectrum 2</label>
                </div>
                <div>
                    <span>Word Limit</span>
                    <input 
                        name="wordLimit"
                        type="number"
                        v-model.number.lazy="settings.wordLimit"
                    />
                </div>
                <div>
                    <span>Word Size:</span>
                    <br>
                    <label for="wordSizeMin">Min:</label>
                    <!-- stop here for min max size and partitioning, please refer to d3 for more info - 12/08/2020 Darky -->
                    <input 
                        name="minFontSize" 
                        type="number" 
                        v-model.number.lazy="settings.minFontSize"
                    />
                    <label for="wordSizeMax">Max:</label>
                    <input 
                        name="maxFontSize" 
                        type="number" 
                        v-model.number.lazy="settings.maxFontSize"
                    />
                </div>
                <div>
                    <fieldset>
                        <legend>Rotation:</legend>
                        <ul>
                            <li>
                                <label for="rotateDefault">
                                    <input
                                        v-model.number.lazy="settings.rotate"
                                        id="rotateDefault" 
                                        name="rotate" 
                                        type="radio" 
                                        value=0 
                                        checked 
                                    />
                                    Default
                                </label>
                            </li>
                            <li>
                                <label for="rotateRandom">
                                    <input 
                                        v-model.number.lazy="settings.rotate"
                                        id="rotateRandom"
                                        name="rotate" 
                                        type="radio"
                                        value=1 
                                    />
                                    Random
                                </label>
                            </li>
                            <li>
                                <label for="rotateWithDegree">
                                    <input
                                        v-model.number.lazy="settings.rotate"
                                        id="rotateWithDegree"
                                        name="rotate" 
                                        type="radio"  
                                        value=2 
                                    />
                                    Degree
                                    <input
                                        v-model.number.lazy="settings.rotateDegree" 
                                        type="number"
                                    />
                                </label>

                            </li>
                        </ul>
                    </fieldset>
                </div>
                <button>
                    <i class="material-icons">refresh</i>
                </button>
            </form>
        </div>
    </div>

    <!-- Framework -->
    <script src="js/vue.js"></script>
    <!-- <script src="js/vue.min.js"></script> -->
    <!-- Library -->
    <script src="js/wordcloud/d3.js"></script>
    <!-- <script src="js/wordcloud/d3.min.js"></script> -->
    <script src="js/wordcloud/d3.layout.cloud.js"></script>
    <!-- Pan zoom testing -->
    <script src='https://unpkg.com/panzoom@9.2.4/dist/panzoom.min.js'></script>
    <!-- Main -->
    <script src="js/main.js"></script>
</body>

</html>